@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");
:root {
    /* color variable */
  --section_title_color: #131313;
  --section_description_color: #727272;
  --primary_color: #FF900E;
  --secondary_color: #FFFFFF;
  --nav_item_color: #424242;
  /* font size */
  --section_title_font_size: 45px;

}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
/* reusable  component */
.btn{
    background-color: var(--primary_color);
    color: var(--secondary_color);
    border-radius: 8px;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}
.btn:hover{
    box-shadow:
                1px 1px var(--primary_color),
                2px 2px var(--primary_color),
                3px 3px var(--primary_color);
        transform: translateX(3px);
        transition: 0.2s ease-in-out;
}
.big_title{
    font-weight: 700;
    font-size: 65px;
}
section{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
}
.section_title{
    font-weight: 700;
    font-size: 45px;
}
.section_sub_title{
    font-weight: 600;
    font-size: 20px;
}
.section_description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--section_description_color);
}
/* main style start */
/* header section start */
header{
    max-width: 1440px;
    margin: 0 auto;
}
.header{
    background-color: rgba(255, 144, 14, 0.1);
}
/* nav start */
nav{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    gap: 50px;
}
ul li{
    list-style-type: none;
    font-weight: 500;
    font-size: 18px;
}
ul li a{
    text-decoration: none;
    color: var(--nav_item_color);
}
/* nav end */
.header_area{
    margin-top: 100px;
    text-align: center;
}
.header_description{
    padding: 30px 0 50px 0;
}
.banner_img{
    padding: 50px 0 30px 0;
}
/* header section end */
/* feature style start */
.feature_area{
    display: flex;
    gap: 70px;
}
.feature_photo_album{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.feature_photo_album img{
    width: 340px;
}
.feature_content{
    margin-top: 210px;
}
.feature_title_style{
    font-weight: 500;
    color: var(--section_description_color);
}
.title_style{
    color: var(--primary_color);
}
.feature_description{
    padding: 25px 0 50px 0;
}
/* feature style end */
/* architect style start */
.architect_area{
    display: flex;
    gap: 60px;
}
.architect_title::before{
    content: '.';
    width: 5px;
    /* height: 106px; */
    background-color: var(--primary_color);
}
.architect_description{
    width: 586px;
    padding: 25px 0 30px 0;
    line-height: 26px;
}
.architect_sub_title{
    margin-bottom: 10px;
}
.architect_sub_area{
    margin-bottom: 20px;
    padding: 30px;
    background-color: var(--secondary_color);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
/* architect style end */
/* main style end */
/* responsive style start*/
/* mobile phone */
@media only screen and (max-width: 500px) {
}
/* tablet and portrait device*/
@media only screen and (min-width: 501px) and (max-width: 900px) {
}
/* desktop, laptop and large screen */
@media only screen and (min-width: 901px) and (max-width: 1300px) {
}
/* responsive style end*/
